<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>

<p>Breadcrumbs: <%= breadcrumbs_for(@folder) %></p>
<p id="notice"><%= notice %></p>
<p>
  <%= link_to "Create folder", new_folder_folder_path(@folder) %> &bull;
  To upload a document, double-click anywhere in the box.
</p>
<div id="pane"></div>
<div id="container"></div>

<script type="text/javascript">
var Pip = Pip || {};
Pip.data = <%= raw(@data) %>;
Pip.data.containerId = 'container';
</script>
