<!--partial for pane and container, used in projects/show and folders/show-->
<a id="pane_toggler" href="javascript: void(0);">+/-</a><!--JS uses this to toggle the pane-->
<br>
<div id="pane"></div><!--pane is the sidebar-->
<div id="container"></div><!--container holds the documents, arrows, etc.-->
