/*
 * Authors: Jeff Cox, David Zhang
 * Copyright Syracuse University
 */
#container {
  outline: 1px solid black;
}

#pane {
  background: #AAA;
  width: 300px;
  height: 500px;
  position: absolute;
  left: -290px;
}

#pane:hover {
  left: 0;
}

ul.radio, ul.metadata, ul.dependencies {
  list-style-type: none;
  padding: 0;
}

ul.dependencies img {
  margin-right: 3px;
}

div#add-another-dependency {
  margin-bottom: 9px;
}

div#add-another-dependency a {
  margin-left: 18px;
  text-decoration: underline;
  color: #999;
}

.metadata {
  font-family: Georgia, serif;
  font-size: 10pt;
  color: #999;
}

[data-in-place-edit][type=text] {
  font: inherit;
  border-style: none;
}

[data-in-place-edit][type=text]:hover {
  outline: medium inset #BBB;
}

.document.modal-dialog h1 {
  margin-left: 20px;
}

.document.modal-dialog #document_name {
  width: 616px;
}

.document.modal-dialog .main-icon {
  margin-right: 20px;
  vertical-align: text-bottom;
}

.document.modal-dialog .basic-info {
  margin-left: 84px;
  margin-bottom: 1em;
}

.description {
  color: gray;
}

.actions .btn {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 100%;
  font-family: Georgia;
}

table {
  border: 1px solid gray;
  width: 518px;
}

caption {
  text-align: left;
}

div.selectable {
  cursor: pointer;
}

div.disabled {
  background: #EEE;
  color: #999;
}

div.selected {
  background: #ABF;
  outline: 1px dotted #999;
}

ul.tree-select {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 61px;
  left: 0;
  margin: 0;
  padding: 0;
}

ul.tree-select, ul.tree-select ul {
  list-style-type: none;
}

div.submit-buttons {
  position: absolute;
  height: 50px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #EEE;
  text-align: right;
  padding: 5px;
  border-top: 1px solid #999;
}

@-webkit-keyframes highlight {
  0%    {background: transparent; outline-color: transparent;}
  50%   {background: #FF9; outline-color: #999;}
  100%  {background: transparent; outline-color: transparent;}
}

.new-dependency {
  -webkit-animation: highlight 3s;
  outline: 1px dotted transparent;
}

ul.dependencies li a[data-method=delete] {
  text-decoration: underline;
  font-family: sans-serif;
  color: #888;
  float: right;
}

ul.dependencies li:hover {
  background: #FF9;
}

/* grid system, kind of */

.document.modal-dialog {
  width: 720px;
  margin-left: -20px;
}

.document.modal-dialog .info, .document.modal-dialog .actions {
  display: inline;
  float: left;
  margin-left: 20px;
}

.document.modal-dialog .info {
  width: 520px;
}

.document.modal-dialog .actions {
  width: 160px;
}

.document.modal-dialog .main-icon {
  width: 64px;
}


/* from 960.gs */

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.document.modal-dialog:before,
.document.modal-dialog:after,
.document.modal-dialog h1:before,
.document.modal-dialog h1:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.document.modal-dialog:after, .document.modal-dialog h1:after {
  clear: both;
}

/* button from Bootstrap (Twitter) */
.btn, input[type=submit] {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.btn:hover, input[type=submit]:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus, input[type=submit]:focus {
  outline: 1px dotted #666;
}

.btn.primary, input[type=submit].primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn:active , input[type=submit]:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}
