#container {
  outline: 1px solid black;
}

#pane {
  background: #AAA;
  width: 300px;
  height: 500px;
  position: absolute;
  left: -290px;
}

#pane:hover {
  left: 0;
}

ul.radio {
  list-style-type: none;
}

[data-in-place-edit][type=text] {
  font: inherit;
  border-style: none;
}

[data-in-place-edit][type=text]:hover {
  outline: medium inset #BBB;
}
