/*
 * Authors: Jeff Cox, David Zhang
 * Copyright Syracuse University
 */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

h1 {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

th {
  text-align: left;
}
