<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>

<!--users/new-->
<div id="user_new">
	<%= render :partial => "users/partials/form", :locals => { :user => @user, :button_name => "Create" } %>
</div>