<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>

<h1>Listing projects</h1>

<ul>
<% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
<% end %>
</ul>
<%= link_to 'New Project', new_project_path %> | 
<%= link_to "List users", users_path %>
