<p>Project: <%= @project.name %></p>
<p id="notice"><%= notice %></p>
<div id="pane"></div>
<div id="container"></div>

<script type="text/javascript">
var Pip = Pip || {};
Pip.data = <%= raw(@data) %>;
Pip.data.containerId = 'container';
</script>
