<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>

<p id="notice"><%= notice %></p>
<p>
  <%= link_to "Create folder", new_project_folder_path(@project) %> &bull;
  To upload a document, double-click anywhere in the box.
</p>

<!--JS uses this to toggle the pane-->
<a id="pane_toggler" href="javascript: void(0);">+/-</a>

<br>
<!--pane is the sidebar-->
<div id="pane"></div>

<!--container holds the documents, arrows, etc.-->
<div id="container"></div>

<script type="text/javascript">
var Pip = Pip || {};
Pip.data = <%= @data %>;
Pip.data.containerId = 'container';
</script>
