
  <div class="field">
    <%= f.label :file, "Upload a file:" %> <%= f.file_field :file %>
  </div>
  - OR -
  <div class="field">
    <%# f.label :external_url, "Link to a web address:" %> <%# f.text_field :external_url, :type => 'url' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
