/* =============================================== */
/*  Variable Declaration										   		 */
/* =============================================== */

/* Colors */

// Grays & Whites -
$dark_gray: #4d4d4d;
$gray: #787676;
$cool_gray: #ededed;
$pleasant_gray: #ddd; // good border color

$faint_white: #fcfcfc; // YouTube's like button color

// Plain - 
$blue: #5c9ed3; // meal name link color
$pale_yellow: #fff3c5; // for notification

$faded_green: #66a658; // not used
$red: #990000; // not used

// Special -
$border_color: #bbb;
$link_color: $blue;

/* Fonts */
// $common_font: Arial; 

/* Measurements */
// central width? header height? etc.
