<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>

<!DOCTYPE html>
<html>
<head>
  <title>VdsPip</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if flash[:notice] %>
<div id="flashes">
	<%= flash[:notice] %>
</div>
<% end %>

<%= yield %>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/1.5.2/raphael-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
  <script src="/javascripts/slang.js"></script>
  <script src="/javascripts/keymaster.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.7.js"></script> 
  <script src="/javascripts/jquery_ujs.js"></script> 
  <script src="/javascripts/arrow_drawer.js"></script> 
  <script src="/javascripts/constants.js"></script> 
  <script src="/javascripts/dependency_drawer.js"></script> 
  <script src="/javascripts/drawing.js"></script> 
  <script src="/javascripts/in_place.js"></script> 
  <script src="/javascripts/item_drawer.js"></script> 
  <script src="/javascripts/jquery-simpleTreeMenu-1.1.0.js"></script> 
  <script src="/javascripts/jquery.colorbox.js"></script> 
  <script src="/javascripts/model.js"></script> 
  <script src="/javascripts/pip.js"></script> 
  <script src="/javascripts/project_drawer.js"></script> 
  <script src="/javascripts/utils.js"></script> 
  <script src="/javascripts/indexer.js"></script>
  <script src="/javascripts/routes.js"></script>
  <script src="/javascripts/application.js"></script>
  <script>
  Pip.initModules();
  </script>
</body>
</html>
