<!DOCTYPE html>
<html>
<head>
  <title>VdsPip</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/1.5.2/raphael-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
  <%= javascript_include_tag :all %>
  <script type="text/javascript">
  Pip.initModules();
  </script>
</body>
</html>
